@import "tailwindcss";

:root {
  --primary-color: #f8c023;
  --red: #ff0000;
  --white: #ffffff;
  --background-color: #f0f0f0;
}

body {
  font-family: "Inter", sans-serif;
}

button,
select {
  cursor: pointer;
}

.fontPoppins {
  font-family: "Poppins", sans-serif;
}

input,
textarea,
select {
  padding: 6px 8px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;

  &:focus {
    outline-color: var(--primary-color);
  }
}

.currency-item {
  display: flex;
  align-items: center;
  column-gap: 8px;

  & .image-container {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    background: #00000033;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  input,
  textarea,
  select {
    padding: 8px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;

    &:focus {
      outline-color: var(--primary-color);
    }
  }
}
