$primary-color: #f8c023;
$secondary: #525256;
$default-black: #191919;
$white: #fff;
$gray-01: #666;
$gray-02: #878787;
$gray-03: #9f9f9f;
$gray-04: #d1d1d1;
$gray-05: #e8e8e8;
$gray-06: #f3f3f3;
$special-bg3: rgba(255, 255, 255, 0.08);
$special-bg2: rgba(255, 255, 255, 0.7);
$special-bg: rgba(210, 210, 210, 0.25);
$special-red: #e73d1c;
$special-green: #4daf6e;
$special-main-bg: #f4f5f7;
