.header {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 1px solid $gray-05;

  &__menu-button {
    padding: 0 20px 0 0;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 117%;
    color: $default-black;
  }

  &__date--container {
    display: flex;
    align-items: center;
    margin-left: 24px;
    column-gap: 8px;

    &-today {
      font-size: 0.875rem;
      line-height: 143%;
      color: $gray-03;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu-button {
      display: none;
    }
  }
}
