.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  border-bottom: 1px solid $gray-05;

  &__menu-button {
    padding: 0 20px 0 0;
  }

  &__left {
    display: flex;
    align-items: center;

    &--title {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 117%;
      color: $default-black;
    }

    &--date-container {
      display: flex;
      align-items: center;
      margin-left: 24px;
      column-gap: 8px;

      &-today {
        font-size: 0.875rem;
        line-height: 143%;
        color: $gray-03;
      }
    }
  }

  &__exchange--rate {
    display: flex;
    align-items: center;
    column-gap: 24px;

    &-item {
      display: flex;
      align-items: center;
      column-gap: 8px;

      & .image-container {
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 50%;
        background: #00000033;

        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu-button {
      display: none;
    }
  }
}
