@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.fontPoppins {
  font-family: "Poppins", sans-serif;
}

input,
textarea,
select {
  padding: 6px 8px;
  border: 1px solid #f8c023;
  border-radius: 4px;

  &:focus {
    outline-color: #f8c023;
  }
}

.edit_button {
  padding: 6px;
  border-radius: 6px;
  color: #ffffff;
  background: #f8c023;
}

.delete_button {
  min-width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 6px;
  color: #ffffff;
  background: #ff0000;
}

@media screen and (min-width: 768px) {
  input,
  textarea,
  select {
    padding: 8px 16px;
    border: 1px solid #f8c023;
    border-radius: 4px;

    &:focus {
      outline-color: #f8c023;
    }
  }
}
