@import "tailwindcss";

:root {
  --default-black: #1e1e1e;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.fontPoppins {
  font-family: "Poppins", sans-serif;
}

input, textarea, select {
  padding: 8px 16px;
  border: 1px solid #f8c023;
  border-radius: 4px;

  &:focus {
    outline-color: #f8c023;
  }
}
